<%- model_class = Event -%>
<%- model_class_et = EventTranslation -%>
<% title t '.title', :default => model_class.model_name.human.pluralize %>

<div class="form-actions">
<%= link_to t('helpers.links.new'),
            new_admin_event_path,
            :class => 'btn btn-primary' %>
</div>


<table class="table table-striped display" id="events-datatable" data-source="<%= admin_events_url(:format => :json) %>">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%= model_class.human_attribute_name(:end_date) %></th>
      <th><%= model_class_et.human_attribute_name(:headline) %></th>
      <th><%= t('categories.category') %></th>
      <th><%= t('categories.tag') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


