<header>

  <% I18n.available_locales.each do |locale| %>
    <% if locale != I18n.locale %>
      <div class="lang_switcher"><%= generate_language_switcher_link(locale,true) %></div>
    <% end %>
  <% end %>

  <h1 class="heading mod-home-page-primary">
    <%= t('app.common.app_name') %>
  </h1>

</header>

 <section class="panorama-wrapper">
     <img
        data-frames='2172'
        data-image='/assets/bg_image.jpg'
        data-indicator='0'
        data-speed='0.01'
        data-delay='5'
        data-stitched='4344'
        data-cursor='hand'
        data-frame='692.4'
        data-duration='120'
        data-orig-height='800'
        data-orig-width='4344'
        width='100%'
        id='panorama'
        responsive='false'
        />
</section>

<% if @about %>
  <section class="about">
    <%= simple_format(@about) %>
  </section>
<% end %>

<% if @no_timeline_data %>
  <section id="no_data">
    <%= t('.no_data') %>
  </section>
<% else %>
  <section id="timeline-embed"></section>
<% end %>

<div class="footer"  >
  <footer class="clear" >
    <div id="left">
      &copy; <%= Time.now.year %>
    </div>
    <div id="middle">
    </div>
    <div id="right" class="clear">
      <%= link_to(image_tag("jumpstart-logo.png"), "http://www.jumpstart.ge", :target => "_blank",
          :title => t("layouts.application.js_link_title") ) %>
    </div>
  </footer>
</div>
