<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta id="og_title" property="og:title" content="<%= "#{@record['headline']} | #{t('app.common.app_name').html_safe}" %>" />
		<meta id="og_desc" property="og:description" content="<%= @record['text']%>" />
		<meta property="og:type" content="non_profit" />
		<%
		  # change _escaped_fragment_ to hashbang
      new_url = ''
      url = current_url
      url_ary = url.split('?')
      if url_ary.length == 2
        new_url << url_ary[0]
        
        found_param = false
        url_ary[1].split('&').each do |param|
          if param.index('_escaped_fragment_').nil?
            if !found_param
              new_url << '?'
              found_param = true
            end
            new_url << param
            new_url << '&'
          end
        end
        
        new_url << '#!'
        new_url << params['_escaped_fragment_']
      end
		%>
		<meta id="og_url" property="og:url" content="<%= new_url %>" />
    <% if @record['asset']['media'].length > 1 && @record['asset']['media'].index(full_url('')) == 0  %>
    		<meta id="og_image" property="og:image" content="<%= @record['asset']['media'] %>" />
    <% else %>
    		<meta id="og_image" property="og:image" content="<%= full_url(image_path("fb_share_#{I18n.locale}.jpg")) %>" />
    <% end %>
	  <meta property="og:site_name" content="<%= t('app.common.app_name') %>" />

    <meta name="google" value="notranslate">

    <title><%= "#{@record['headline']} | #{t('app.common.app_name')}" %></title>

    <%= csrf_meta_tags %>
    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag '/favicon.ico?v1', :rel => 'shortcut icon' %>
    
		<script type="text/javascript">
      
    </script>
  </head>
  <body>

  <div id="story">
    <h1 id="headline"><%= @record['headline']%></h1>
    <div id="date">
      <% 
        date = ''
        if @record['startDate']
          date << @record['startDate']
        end
        if @record['endDate']
          if date.length > 0
            date << ' - '
          end
          date << @record['endDate']
        end
      %>
      <%= date %>
    </div>
    <div id="content"><%= @record['text']%></div>
  </div>


  <hr />

  <% if @about %>        
    <div id="about">
      <%= simple_format(@about) %>
    </div>       
  <% end %>
    


	<% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-12801815-52', 'auto');
      ga('send', 'pageview');

    </script>
	<% end %>

  </body>
</html>
