<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta id="og_title" property="og:title" content="<%= t('.og.title').html_safe %>" data-original-content="<%= t('.og.title').html_safe %>" />
		<meta id="og_desc" property="og:description" content="<%= t('.og.desc').html_safe %>" />
		<meta property="og:type" content="non_profit" />
		<meta id="og_url" property="og:url" content="<%= current_url %>" />
		<meta property="og:image" content="<%= full_url(image_path('fb-img.jpg')) %>" />
	  <meta property="og:site_name" content="<%= t('app.common.app_name') %>" />

    <meta name="google" value="notranslate">

    <title><%= content_for?(:title) ? "#{yield(:title)} | #{t('app.common.app_name')}" :
				t('app.common.app_name') %></title>
    <%= csrf_meta_tags %>
	  <%= include_gon %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "fonts_#{I18n.locale}", :media => "all" %>
		<!--[if IE 6]><%= stylesheet_link_tag 'ie6' %><![endif]-->
	  <!--[if IE 7]><%= stylesheet_link_tag 'ie7' %><![endif]-->

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag '/favicon.ico?v1', :rel => 'shortcut icon' %>
  </head>
  <body id="body_timeline">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to(image_tag("logo_elections_timeline_#{I18n.locale}.png", :alt => t('app.common.app_name') ), root_path(:locale => I18n.locale),:class=>"brand font")%>
          <% if @categories.present? %>
            <ul id="category_nav" class="nav">
              <% @categories.each do |cat| %>
                <li><%= link_to cat.name, root_path(:category => cat.permalink) %></li>
              <% end %>
            </ul>
          <% end %>
  
          <ul class="nav pull-right">
	          <% if user_signed_in? %>
			        <li class="dropdown" id="admin_menu">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			                <%= current_user.nickname %>
			                <b class="caret"></b>
			          </a>
			          <ul class="dropdown-menu">
             			<li>
                   <%= link_to t('.events'), admin_events_path %>
                  </li>
                  <li>
                    <%= link_to t('.categories'), admin_categories_path  %>
                  </li>
                  <% if current_user.role? User::ROLES[:admin] %>
               			<li>
                     <%= link_to t('.users'), admin_users_path %>
                    </li>
                  <% end %> 		
					        <li>
			 		         <%= link_to t('.sign_out'), destroy_user_session_path, :method => :delete %>
									</li>
			          </ul>
			        </li>
	          <% end %>
						<% I18n.available_locales.each do |locale| %>
							<% if locale != I18n.locale %>
								<li class="lang_switcher"><%= generate_language_switcher_link(locale) %></li>
							<% end %>
						<% end %>
          </ul>
          <ul id="social_links" class="nav pull-right">
            <li>
				      <a href="http://www.facebook.com/share.php?u=<%= root_url %>" title="facebook" target="_blank"><img src="/assets/icon_fb.png" alt="facebook"><img src="/assets/icon_fb_hover.png" alt="facebook"></a>
            </li>
            <li style="display: none;">
				      <a href="https://plusone.google.com/_/+1/confirm?hl=en&url=<%= root_url %>" title="google+" target="_blank"><img src="/assets/icon_goggle.png" alt="google+"><img src="/assets/icon_goggle_hover.png" alt="google+"></a>
            </li>
            <li>
				      <a href="https://twitter.com/share?url=<%= root_url %>" title="twitter" target="_blank"><img src="/assets/icon_twitter.png" alt="twitter"><img src="/assets/icon_twitter_hover.png" alt="twitter"></a>
            </li>
          </ul>
          <form class="navbar-search pull-right">
            <input id="search_box" type="text" class="search-query" placeholder="<%= t('.search')%>">
            <div class="imgs">
              <img src="/assets/timeline_icon_search.png" />
              <img src="/assets/x.png" />
            </div>
          </form>
          <ul id="about_link" class="nav pull-right">
						<li><%= link_to t('app.about.title'), about_path %></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="search-alert" data-query="__query__"><%= t('layouts.timeline.search_result', :query => '__query__') %></div>

		<div id="wrapper">
		  <div id="container-content" class="container-fluid">
		    <div class="content-fluid">
		      <div class="row-fluid">
		         <div class="span12">

	            <%= yield %>
	          </div><!--/span-->
		      </div><!--/row-->
		    </div><!--/content-->
		   </div> <!-- /container -->
		</div><!--/wrapper-->

    <div class="push"><!--//--></div>

    <footer class="clear">
			<div id="left">
				<%= link_to(image_tag("logo_footer_election_portal.jpg"), "http://electionportal.ge/", :target => "_blank") %>
		  </div>
		  <div id="middle">
			  &copy; 2013
			</div>
			<div id="right" class="clear">
				<%= link_to(image_tag("jumpstart-logo.png"), "http://www.jumpstart.ge", :target => "_blank",
						:title => t(".js_link_title")	) %>
			</div>
    </footer>


    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
		<script type="text/javascript">
			I18n.defaultLocale = "<%= I18n.default_locale %>";
			I18n.locale = "<%= I18n.locale %>";
			
			var asset_location = '';
			<% if !Rails.env.development? %>
			  asset_location = 'assets/';
			<% end %>
		</script>

    <script type="text/javascript">var switchTo5x=false;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "5e03882d-880c-43e2-b015-163ee338d8c0", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
    
		<% if Rails.env.production? %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-12801815-13']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  		</script>
		<% elsif Rails.env.staging? %>
			<!-- insert google analytics for staging site here -->
		<% end %>

  </body>
</html>
